
.btn-default:hover
{
    background-color: #00FFFF;
}

.btn-standard
{
    border-radius: 25px;
    border-width: 0;
    padding: 5;
    width: 300px;
    height: 60px;
    margin: 10px;
    transition: 0.6s;
}

.btn-change
{
    background-color: lightgreen;
}

.btn-wrong
{
    background-color: red;
}

.mat-list-item:hover
{
    background-color: #0099FF;
    transition: 0.6s;
    color: black;
}

.mat-list-item
{
    height: 250px !important;
}

.mat-card
{
    padding: 0;
    background-color: #66CCCC;
}

.mat-card-header
{
    font-size: 45px;
}

.btn-end
{
    border-radius: 25px;
    border-width: 0;
    padding: 5;
    width: 100px;
    height: 20px;
    margin: 5px;
    transition: 0.6s;
}
.question-header
{
    font-size: 50px;
    margin-top: 50px !important;
}

.mat-list-item-content
{
    display: inline-flex !important;
}