<mat-card>
  <h2 class="question-header">Question List:</h2>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let question of questions">
        <div class="row">
        <h3 mat-line class="col-md-6">{{question.text}}</h3>
        <div class="w-100"></div>
        <button class="btn-default btn-standard col" (click)="checkAnswer(question.answers[0].isCorrect, question.id)">{{question.answers[0].text}}</button>
        <button class="btn-default btn-standard col" (click)="checkAnswer(question.answers[1].isCorrect, question.id)">{{question.answers[1].text}}</button>
        
        <button class="btn-default btn-standard col" (click)="checkAnswer(question.answers[2].isCorrect, question.id)">{{question.answers[2].text}}</button>
        <button class="btn-default btn-standard col" (click)="checkAnswer(question.answers[3].isCorrect, question.id)">{{question.answers[3].text}}</button>
        <!-- <div class="col-md-2">Points: {{question.points}}</div> -->
        </div>
      </mat-list-item>
      <div>Suma: {{suma}}</div>
    </mat-list>
    
  </mat-card-content>
  
  <button (click)="endQuiz()" class="btn btn-primary" >Zakończ</button>
</mat-card>



