
.btn-default:hover
{
    background-color: #00FFFF;
}

.btn-standard
{
    border-radius: 25px;
    border-width: 0;
    padding: 5;
    width: 100px;
    height: 20px;
    margin: 5px;
    transition: 0.6s;
}

.btn-change
{
    background-color: lightgreen;
}

.btn-wrong
{
    background-color: red;
}

.mat-list-item:hover
{
    background-color: #68a0f3;
    transition: 0.6s;
}

.mat-list-item
{
    height: 250px !important;
}

.mat-card
{
    padding: 0;
    background-color: #66CCCC;
}

.mat-card-header
{
    font-size: 45px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }